.features {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(25rem , 1fr));
  gap: 6rem;
  margin: 15rem auto;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2rem;

  h4 {
    margin-top: 1rem;
  }

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    fill: $color-primary;
  }

  &__paragraph {
    font-size: 1.7rem;
  }
}