.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col 7;
  background: linear-gradient(
    rgba($color-secondary, 0.9),
    rgba($color-secondary, 0.9)
  ) , url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr min-content min-content 1fr;
  padding: 8rem;
  row-gap: 2rem;

  &__logo {
    height: 4rem;
    justify-self: center;
  }

  &__btn {
    justify-self: start;
    align-self: start;
  }

  &__seenon {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4 , 1fr);
    row-gap: 2rem;

    &--text {
      grid-column: 1 / -1;
      justify-self: stretch;
      font-size: 1.5rem;
      color: $color-grey-light-2;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      align-items: center;
      gap: 2rem;
      
      &::before,
      &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: currentColor;
        width: 100%;
      }
    }

    img {
      height: 3rem;
      justify-self: center;
      filter: brightness(60%);
    }
  }

}
