%heading {
  font-family: $font-display;
  font-weight: 400;
}

@mixin color-mode {
  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-grey-dark-1;
  }
}

.heading {
  &__4 {
    @extend %heading;
    @include color-mode;
    font-size: 2rem;
  }

  &__2 {
    @extend %heading;
    @include color-mode;
    font-size: 4.5rem;
  }
}

.btn {
  padding: 2rem;
  outline: none;
  border: none;
  background-color: #fff;
  text-transform: uppercase;
  font-family: $font-display;
  cursor: pointer;
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;
  transition: background-color .3s;
  &:hover {
    background-color: $color-primary-dark;
  }
}